spring:
  application:
    name: collaborationTool
  profiles:
    active: dev
  session:
    jdbc:
      initialize-schema: always
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: public

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

server:
  address: 0.0.0.0
  ssl:
    enabled: false
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,application/json
    min-response-size: 1024

app:
  redis:
    token-prefix: revoked_token


logging:
  file:
    name=logs/backend.log
    path=logs

  level:
    root: INFO
    level.com.eclectics.collaboration: DEBUG
