spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_schema: public
  mail:
    host: ${MAIL_TRAP_HOST}
    port: ${MAIL_TRAP_PORT}
    username: ${MAIL_TRAP_USERID}
    password: ${MAIL_TRAP_PASSWORD}

server:
  port: 8084

alibaba:
  cloud:
    oss:
      endpoint: https://oss-eu-west-1.aliyuncs.com
      access-key-id: ${OSS_KEY}
      access-key-secret: ${OSS_SECRET}
      bucket-name: jagarage

app:
  message: "This is the Production environment"
